@import "tailwindcss";

:root {
	--main: #101828;
	--text: #475467;
	--white: #fff;
	--inputs: #f7f7f7;
	--badges: #f2f4f7;
	--gray: #6c717b;
	--gray-light: #dadde1;
	--button: #e44848;
	--button-hover: #d84343;
	--rating: #ffc531;
	--grey-green: #829b91;
	--olive: #f0f1f1;
	--green-hover: #6d7b75;
}

:root {
  --font-family: "Inter", sans-serif;
  --second-family: "Manrope", sans-serif;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Inter, sans-serif;
}

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  -webkit-text-size-adjust: 100%;
  scroll-behavior: smooth;
}

body {
  min-height: 100vh;
  line-height: 1.5;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

input,
button,
textarea,
select {
  font: inherit;
}

button {
  cursor: pointer;
  border: none;
}


ul,
ol {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}